<p class="notice text">
  <i class="icon icon-important">
    <span class="visuallyhidden">
      ${data.warning}
    </span>
  </i>
  <strong class="bold-small">
    ${data.content}
  </strong>
</p>
