<div if(data.errors) class="error-summary" role="group"
  aria-labelledby="error-summary-heading" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    ${data.heading}
  </h1>
  <p>
    ${data.summary}
  </p>

  <ul class="error-summary-list">
    <li for(input, error in data.errors)>
      <a href="#error-message-${input}">
        ${error.msg}
      </a>
    </li>
  </ul>

</div>
