$ const language = input.lang || (out.stream.req || {}).language;
$ const warning = language === 'cy' ? 'Rhybudd' : 'Warning';

<p.notice.text>
  <i.icon.icon-important>
    <span.visuallyhidden>
      ${warning}
    </span>
  </i>
  <strong.bold-small>
    ${input.content}
  </strong>
</p>
